body{
    background-color : #F8F8F8;
}

#company-content{
  height: 20px;
}

#company{
  height: 20px;

}

.header {
    font-size: 50px;
    background-color: transparent;
    outline: none;
    border: none;
}

.upper{
    display: inline-block;
    width: 100%;
    padding: 1%;
    margin-bottom: 10%;
}

.lower{
    display: inline-block;
    width: 100%;
}

.signup {
    width: 100%;
}

.signup:focus{
    outline: none;
}

.signup:focus-within{
    font-weight: bold;
}

#SignUpLogin{
    margin-top: 2%px;
    text-align: right;
    float: right;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
#SignupLogin:focus{
    outline: none;
}
#SignupLogin:focus-within{
    font-weight: bold;
}

#SignUpLogin:hover{
    font-weight: bold;
    cursor: pointer;
}

#Header{
    margin: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /* font-size:35px; */
    color: #43464B;
}

.HeaderDiv{
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#SearchByHeader{
    margin-top: 90px;
    text-align: center;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

#SearchByHeader:hover{
  cursor: pointer !important;
}
.container-fluid{
    padding: 0;
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.FilterBox{
    position: relative;
    margin: 2% 4%;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background-color:#f16334;
    height: 150px;
    color: #FFFFFF;
}

.FilterBox:focus{
    outline: none;
    background-color: #FFFFFF;
    color: #43464B;
    border: #f16334 !important;
}

.FilterBox:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #43464B;
    border: #f16334 !important;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

.WriteaReview{
    font-style: italic;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    display: flex;
    text-align: center;
    margin-left: .5% auto;
    margin-right: .5 .5% auto;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
}

.WriteaReview:focus{
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.WriteaReview:hover{
    font-weight: bold;
    cursor: pointer;
}

.line{
    height: 2px;
    width: 60px;
    display: flex;
    justify-content: center;
    background-color:#f16334;
    margin: 1% auto;
}

.AboutUs
{
    font-weight: bold;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    color: #43464B;
    margin-left: 2.5%;
    margin-bottom:1%;
}

#whitebackground{
    padding-top: 10px;
    background-color:#FFFFFF;
    height: 100%;
}

.graycolordiv{
    margin-top: 10px;
    background-color : #F8F8F8;
    height: 100px;
    margin-bottom: 50px;
}
.whitecolordiv{
    background-color: #FFFFFF;
}

.graycolorbox{
    background-color: #F8F8F8;
    height: 400px;
    margin: 3%;
    padding: 3%;
}

#graycolorbox {
    padding: 3%;
}

.lineAbout{
    margin-top: .5%;
    height: 3px;
    margin-left: 3%;
    width: 70px;
    display: flex;
    justify-content: center;
    background-color:#f16334;
}

.AboutUsFont{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.AboutUs:hover{
    font-weight: bold;
    cursor: pointer;
}

.AuthorHeader{
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.text {
    font-size: 35px;
    /*
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}

.button{
    background-color: transparent;
    border: none;
    margin: 0 auto;
    width: 100%;
    outline: none;
    color: #FFFFFF;
}

.button:focus{
    outline: none;
    background-color: #FFFFFF;
    color: #43464B;
    border: #f16334 !important;
}

.button:hover{
    background-color: #FFFFFF;
    color: #43464B;
    border: #f16334 !important;
}

a {
    text-decoration: none;
    color: #43464B;
}

a:focus{
    color: #43464B;
    font-weight: bold;
    outline: none;
}

#searchB{
  display: none;
  background-color: #FFFFFF;
  display:flex;
  width:auto;
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid grey;
  border-radius:4%;

}
.searchform{
  width: 90%;
  border-radius:4%;
  border:none;
}
.searchbutton{
  width:100%;
  background: #2196F3;
  border: 1px solid grey;
  height: 30%;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
    .container-fluid{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 400px;
        margin: 0 3%;
    }

    .FilterBox{
        display: flex;
        width: 100%;
    }

    .WriteaReview {
        margin: 0 auto;
        padding: 5%;
    }

    .line{
        margin: 5% auto;
    }

    .AboutUs {
        margin: 5%;
    }

    .lineAbout{
        margin-left: 5%;
    }

    #graycolorbox {
        padding: 5%;
    }

    .AuthorHeader {
        margin: 5% 0;
    }

    #SearchByHeader{
      margin-top: 50px;
    }

    .header{
      margin-top: 10%;
      padding-top: 5%;
      font-size: 40px;
    }

    .text{
      font-size: 30px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .container-fluid{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .FilterBox{
        display: flex;
        width: 100%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
    .container-fluid{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .FilterBox{
        display: flex;
        width: 100%;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .container-fluid{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .FilterBox{
        display: flex;
        width: 100%;
    }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
    .container-fluid{
        width: 100%;
        height: 100%;
    }

    .FilterBox{
        width: 100%;
        height: 100%;
    }
}
