
form {
    background-color:#f16334;
    /* background-color : #F8F8F8; */
    border: none;
}

body {
    background-color:#f16334;
    /* background-color : #F8F8F8; */
    overflow: hidden;
}

.container {
    background-color:#f16334;
    /* background-color : #F8F8F8; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 3%;
    margin-top: 10%;
}

.login {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
    /* color: #43464B; */
    text-align: center;
    margin: 5%;
}

.email {
    text-align: center;
    margin: 5%;
}

.password {
    text-align: center;
    margin: 5%;
}

.enter {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.createaccount {
    font-style: italic;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: center;
    margin: 2% auto;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5% 0;
    color: white;
}

.createaccount:hover {
    font-size: 17px;
}

.createaccount:focus {
    font-size: 17px;
}

.cancelButton {
    background-color: white;
    color: #43464B;
    /* background-color:#f16334; */
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /* color: white; */
    margin: 3%;
    width: 125px;
    float: left;
    border-radius: 5px;
    box-shadow: #43464B;
}

.cancelButton:focus{
    outline: none;
    background-color: #f16334;
    /* color: #f16334; */
    /* border: #43464B; */
    color: #43464B;
    border: #f16334 !important;
}

.cancelButton:hover{
    cursor: pointer;
    background-color: #f16334;
    color: #43464B;
    border: #43464B !important;
    /* color: #43464B; */
    /* border: #43464B !important; */
}

.loginButton {
    background-color: white;
    color: #43464B;
    /* background-color:#f16334; */
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /* color: white; */
    margin: 3%;
    width: 125px;
    float: right;
    border-radius: 5px;
    box-shadow: #43464B;
}

.loginButton:focus{
    outline: none;
    background-color: #f16334;
    color: #f16334;
    border: #43464B;
    /* background-color: #FFFFFF; */
    /* color: #43464B; */
    /* border: #f16334 !important; */
}

.loginButton:hover{
    cursor: pointer;
    background-color: #f16334;
    color: #43464B;
    border: #43464B !important;
}

.other {
    display: flex;
    flex-direction: column;
    float: bottom;
    margin: 10% 0;
}

.input {
    display: inline;
    flex-direction: row;
    text-align: center;
}

.google {
    margin: 2%;
    background-color: transparent;
    border: none;
    color: white;
}

.google:focus {
    outline: none;
    font-weight: bold;
}

.google:hover {
    outline: none;
    font-weight: bold;
}

.googleImage {
    height: 20px;
    margin: auto;
}

.facebook {
    margin: 2%;
    background-color: transparent;
    border: none;
    color: white;
}

.facebook:focus {
    outline: none;
    font-weight: bold;
}

.facebook:hover{
    outline: none;
    font-weight: bold;
}

.facebookImage {
    height: 20px;
    margin: auto;
}
